operators
arthmetic operators
ADDITION (int,float,,complex,boolean)

In [4]:
a=10          
b=20        
print(a+b)  

a=10
b=12.6
print(a+b)

a=22
b=2+3j
print(a+b)

a=2+3j
b=3+4j
print(a+b)

a=True
b=21
print(a+b)

30
22.6
(24+3j)
(5+7j)
22

CONCATINATION(STRING,LIST,TUPLE)

In [3]:
a=10**2
print(a)

100

In [5]:
a=input()
b=input()
print(a+b)

In [4]:
st='raja'
str="rani"
print(st+str)

s='raja'+"rani"
print(s)

l=[1,2,3]
l1=[4,5]
print(l+l1)

l=[1,2,3]+[5,6]
print(l)

t=(1,2,3)
t1=(4,5)
print(t+t1)

t=(1,2,3)+(4,5)
print(t)

a=(9+5)+(9-5)
print(a)

rajarani
rajarani
[1, 2, 3, 4, 5]
[1, 2, 3, 5, 6]
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
18

substraction(int,float,complex,boolean)

In [6]:
a=10
b=20
print(a-b)

a=20.33
b=11
print(a-b)

a=21
b=3+2j
print(a-b)

a=2+5j
b=4+2j
print(a-b)

a=7
b=True
print(a-b)

-10
9.329999999999998
(18-2j)
(-2+3j)
6

MULTIPLICATION---> INT,FLOAT,COMPLEX,BOOLEAN

In [5]:
a=10
b=10
print(a*b)

100

In [6]:
a=10.5
b=3
print(a*b)

31.5

In [7]:
a=5+3j
b=33
print(a*b)

(165+99j)

DIVISION--->str,list,tuple

In [8]:
str='ram'
b=3
res=str*b
print(res)

ramramram

In [9]:
list_1=[1,2,3,4]
list_2=5
res=(list_1*list_2)
print(res)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [10]:
tuple_1=(0,)
t=6
res=(tuple_1*t)
print(res)

(0, 0, 0, 0, 0, 0)

DIVISION --->INT,FLOAT,COMPLEX,BOOLEAN

In [3]:
a=10
b=3
print(a/b)

3.3333333333333335

In [4]:
a=10.5
b=5
print(a/b)

2.1

In [2]:
comp_1=10+2j
comp_2=2+2j
print(comp_1/comp_2)

(3-2j)

In [11]:
comp=22+55j
h=77
res=comp/h
print(res)

(0.2857142857142857+0.7142857142857143j)

In [5]:
a=10
b=22
c=9.5
v=33
res=(a+b)-(c/v)
print(res)

31.71212121212121

In [7]:
num=44
num=num/21
print(num)

2.0952380952380953

In [8]:
a=2
b=7
print(a+b)

9

In [27]:
a=['ram']
b=['tarun']
print(tuple(b)[0][4])

n

RELATIONAL OPERATORS()

In [4]:
a=99
b=90
a>b

True

In [10]:
a='n'
b='n'
a==b

True

In [14]:
a="ramanujan"
b="Ramanujan"
print(a<b)

False

logical operators (and,or,not)

In [2]:
str="Ravi"
res=str[0]>='A' and str[0]<='Z'
print(res)

True

In [4]:
l=['R','a','v','i']
res=l[0][0]>='A'and l[0][0]<='Z'
print(res)

True

In [6]:
ch='A'
ch1=ord(ch)
res=ch>='A'and ch<='Z' and ch1>=75
print(res)

False

In [12]:
ch='D'
ch1=ord(ch)
res=ch1%2==0
print(res)

True

In [13]:
ch='d'
ch1=ord(ch)
res=ch1%2==0
print(res)

True

ASSIGNMENT LOGICAL OPERATORS
-----------------------------
-----------------------------

In [7]:
num=11
res=num>=10
print(res)

True

In [14]:
num=25
res=num%2==1
print(res)

True

In [15]:
num=46
res=num%2==0 and num>=40 and num<=70
print(res)

True

In [18]:
num=98
res=num%2==0 and num>=97
print(res)

True

In [20]:
num=60
res=num%4==0 and num>=48 and num<=122
print(res)

True

In [21]:
num=15
res=num%5==0 and num%3==0
print(res)

True

In [22]:
ch="R"
res=ch>="A" and ch<="Z"
print(res)

True

In [26]:
ch='b'
ch1=ord(ch)
res=ch1%2==0 and ch>='a' and ch<='z'
print(res)

True

In [28]:
num=44
num1=num%10
res=num1%4==0
print(res)

True

In [30]:
num=7
res=num>=0 
print(res)

True

In [33]:
num=108
res=num%3==0 and num%4==0 and num>=60 and num<=130
print(res)

True

In [32]:
num=5
res=num>=0 and num<=9
print(res)

True