In [44]:
l=[1,2,3,'jack sparow','wayne rooney','manchester city']
a=l[4][0:5]
b=l[5][-4::1]
c=l[3][5:8]
d=l[4][6:9]
e=l[5][-1:-5:-1]
f=l[3][0:4]
g=l[3][0:4:3]
h=l[4][6:11:2]
i=l[3][ : : -1]
j=l[3][5:8:2]
k=l[3][9: ]
print(l[0:2])
print(l[2:4])
print(str(a))
print(str(b))
print(l[5:3:-1])
print(l[2:: -1])
print(l[5:2:-2])
print(l[4::-2])
print(str(c))
print(str(d))
print(str(e))
print(str(f))
print(str(g))
print(str(h))
print(str(i))
print(str(j+k))

[1, 2]
[3, 'jack sparow']
wayne
city
['manchester city', 'wayne rooney']
[3, 2, 1]
['manchester city', 'jack sparow']
['wayne rooney', 3, 1]
spa
roo
ytic
jack
jk
roe
woraps kcaj
saow

SLICING:
WITH OT STEP VALUES

In [41]:
st="ramanujan"
print(st[0:5])
print(st[5:8])
print(st[:])
print(st[1:8])
print(st[0:3])
print(st[3:-1])
print(st[-8:-3])
print(st[-9:-6])
print(st[:])
print(st[2:])
print(st[:5])
print(st[:4])
print(st[6:])
print(st[2:6])
print(st[6:3])
print(st[-4:5])
print(st[-4:6])
print(st[-4:-1])
print(st[-7:-1])

raman
uja
ramanujan
amanuja
ram
anuja
amanu
ram
ramanujan
manujan
raman
rama
jan
manu


u
uja
manuja

SLICING : 
WITH STEP VALUES

In [43]:
st='ramanujan'
print(st[0:5:1])
print(st[0:5:-1])
print(st[5:0:-1])
print(st[7:-5:-1])
print(st[::-1])
print(st[-5::-1])
print(st[::2])
print(st[::2])
print(st[0:4:3])
print(st[6:4:-1])
print(st[-7:4:2])
print(st[::-3])
print(st[::4])

raman

unama
aju
najunamar
namar
rmnjn
rmnjn
ra
ju
m
num
rnn

EXAMPLES FOR SLICING
---------------------

In [46]:
l=['jordan','will blake',[300,200,40,'james willson'],{1:{'name':'meason mount', 'age':24,'club':'chelsea'}}]
print(l[0][0:3])
print(l[1][0:4])
print(l[2][3][0:5])
print(l[2][2::-1])
print(l[3][1])
print(list(l[3][1]))
print(l[3][1])
print(l[3][1]['name'][7:])
print(list(l[3][1])[2:0:-1])
print(l[3][1]['club'])
print(str(l[3][1]['age'])[::-1])

jor
will
james
[40, 200, 300]
{'name': 'meason mount', 'age': 24, 'club': 'chelsea'}
['name', 'age', 'club']
{'name': 'meason mount', 'age': 24, 'club': 'chelsea'}
mount
['club', 'age']
chelsea
42

In [15]:
d={1:['oneplus','Apple'],2:{'name1':'venugopal','name2':'amaresh'},'a':'anaconda'}
print(d[1][0])
print(d[1][1][::-1])
print(d[2]['name1'][8:5:-1])
print(d[2]['name2'][6:3:-1])
print(d[1][1])
print(d[1][0][6:2:-1])
print(d[1][1][1:3])
print(d[1][0]+d[1][1])
print(d[2]['name1'][0:4])
print(d[1][::-1])
print(d[2]['name1'][0:4]+d[2]['name2'][3:])
print(d[2]['name1'][4:])
print(d['a'][0:3])
print(d[2]['name2'])
print(d[2]['name2'][3:])
print(d['a'])

oneplus
elppA
lap
hse
Apple
sulp
pp
oneplusApple
venu
['Apple', 'oneplus']
venuresh
gopal
ana
amaresh
resh
anaconda

printing a statement n-no.of times

In [17]:
a='''Hello! How are you?
Hello! How are you?
Hello! How are you?
Hello! How are you?
Hello! How are you?'''
print(a)

Hello! How are you?
Hello! How are you?
Hello! How are you?
Hello! How are you?
Hello! How are you?